<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/produto.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />

    <title>Sweet Life</title>
    <link rel="shortcut icon" type="image/png" href="/images/icon-logo.png" />
  </head>

  <body>
    <nav class="navbar-custom">
      <div id="navbar" class="container-nav">
        <div class="logo">
          <a href="/"><img src="/images/logoComp.png" alt="" /></a>
        </div>
        <ul class="nav-links-custom">
          <ul class="nav-links-custom-inner">
            <li>
              <a href="/">Inicio</a>
            </li>
            <li>
              <a href="">Sobre</a>
            </li>
            <li>
              <a href="">Contato</a>
            </li>
          </ul>
          <ul class="nav-links-custom-inner">
            <li>
              <a href="/cadastro">Cadastrar</a>
            </li>
            <li>
              <a class="nav-login" href="/login">Login</a>
            </li>
          </ul>
        </ul>
        <div class="last-nav">
          <div class="burguer">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
          <div class="car">
            <a href=""><img src="/images/Carrinho.svg" alt="Carrinho"></a>
          </div>
        </div>
      </div>
    </nav>

    <section id="top-display">
      <div class="content-top-display">
        <h1>A pascoa chegou!</h1>
        <p>O coelinho passou em nossa producao e deixou diversos novos produtos!</p>
        <a href='/filter/5/#box-dropdown'>Venha conferir!</a><h4>ou</h4><a href='#box-dropdown'>Veja nossos outros produtos.</a>
      </div>
    </section>


    <section id="box-dropdown">
      <div class="container-dropdown">
        <div class="box-doces">
          <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filtro
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/">Nada</a>
              <a class="dropdown-item" href="/filter/1">Tradicional</a>
              <a class="dropdown-item" href="/filter/2">Diet</a>
              <a class="dropdown-item" href="/filter/3">Vegano</a>
              <a class="dropdown-item" href="/filter/4">Com frutas</a>
              <a class="dropdown-item" href="/filter/5">Ovos de Páscoa</a>
            </div>
          </div>
        </div>
        <div class="box-doces">
          <input type="search" class="input-search"><button class="btn-search"><i style="color: #f7d6e0;" class="fas fa-search"></i></button>
        </div>
      </div>
    </section>

    <!-- Loja Produtos - Cards -->
    <section id="loja">

      <div class="linha">
        <%for(let i = 0; i<produto.length;i++){%>
        <div class="dbtn_info">
          <!-- Modal informação produto -->
          <div
            id="btnId_<%=produto[i].id%>"
            class="modal fade bd-example-modal-lg"
            tabindex="-1"
            role="dialog"
            aria-labelledby="myLargeModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i aria-hidden="true" class="far fa-times-circle"></i>
                </button>
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-lg-7">
                        <img
                          src="https://raw.githubusercontent.com/JoaoBianco/sweetLife/main/app/public/assets/<%=produto[i].idProduto ? produto[i].idProduto:produto[i].id%>.jpeg"
                          alt="produto"
                          class="produto_modal"
                        />
                        
                      </div>
                      <div class="col-lg-5 flex-modal-custom">
                        <div class="row">
                          <h1><%=produto[i].nome%></h1>
                        </div>
                        <div class="row">
                          <p><%=produto[i].descricao%></p>
                        </div>
                        <div class="row">
                          <p class="price">R$<%=produto[i].preco%>,00</p>
                        </div>
                        <div class="row">
                          <div class="seletores">
                            <div class="quantity_selector">
                              <button
                                onclick="quantidade('sub','<%=produto[i].idProduto ? produto[i].idProduto:produto[i].id%>')"
                              >
                                -
                              </button>
                              <p class="number_modal_<%=produto[i].idProduto ? produto[i].idProduto:produto[i].id%>">1</p>
                              <button
                                onclick="quantidade('add','<%=produto[i].idProduto ? produto[i].idProduto:produto[i].id%>')"
                              >
                                +
                              </button>
                            </div>
                            <button class="btn_carrinho">
                              <i class="fas fa-shopping-cart"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Modal -->
        <div class="coluna">
          <div class="card_produto">
            <a
              href=""
              data-toggle="modal"
              data-target="#btnId_<%=produto[i].id%>"
            >
              <img
                class="img-product"
                src="https://raw.githubusercontent.com/JoaoBianco/sweetLife/main/app/public/assets/<%=produto[i].idProduto ? produto[i].idProduto:produto[i].id%>.jpeg"
                alt="produto"
              />
            </a>
            <h1><%=produto[i].nome%></h1>
            <p class="price">R$<%=produto[i].preco%>,00</p>
            
            <div class="seletores">
              <div class="quantity_selector">
                <button onclick="quantidade('sub','<%=produto[i].idProduto ? produto[i].idProduto:produto[i].id%>')">
                  -
                </button>
                <p class="number_<%=produto[i].idProduto ? produto[i].idProduto:produto[i].id%>">1</p>
                <button onclick="quantidade('add','<%=produto[i].idProduto ? produto[i].idProduto:produto[i].id%>')">
                  +
                </button>
              </div>
              <button class="btn_carrinho">
                <i class="fas fa-shopping-cart"></i>
              </button>
            </div>
          </div>
        </div>
        <%}%>
      </div>
    </section>
    <script src="/js/index-js.js"></script>
    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
